Repository semiotic-ai/vscode-sql-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint", "prettier --write"],
  "*.js": ["eslint", "prettier --write"],
  "*.css": "prettier --write",
  "*.json": "prettier --write"
}

feat: add command to configure gateway api key
  package.json
  src/extension.ts
  src/providers/gateway.ts
  src/providers/results.ts
  src/service.ts
  src/test/configureGateway.test.ts
  src/test/service.test.ts
Due: eslint, prettier --write

fix: correct command nomenclature
  package.json
Due: prettier --write

fix: await async functions to configure gateway
  src/providers/gateway.ts
  src/providers/results.ts
  src/service.ts
Due: eslint, prettier --write

fix: fix typo in command title
  package.json
Due: prettier --write

chore: update readme with `set api key` command
  README.md
Due: none

chore: update gateway setting documentation to indicate that it's an override
  README.md
Due: none

fix: update graph node endpoint to match new backend route
  src/providers/gateway.ts
Due: eslint, prettier --write

refactor: extract sql studio endpoint to a constant
  src/providers/gateway.ts
Due: eslint, prettier --write

fix: remove gateway endpoint configuration property
  README.md
  package.json
  src/providers/gateway.ts
Due: eslint, prettier --write

chore(release): 0.12.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  4700ecdb513949bec6a3ec57822845e552629716
Due: none

fix: add /subgraphs/name to subgraph endpoint
  src/providers/results.ts
Due: eslint, prettier --write

fix: Gateway setup from studio wweb site and search functionality Fixes STU-233, STU-232 Fixing STU-138
  README.md
  package-lock.json
  package.json
  src/extension.ts
  src/providers/gateway.ts
  src/providers/results.ts
  src/providers/subgraph.ts
  src/service.ts
  src/test/configureGateway.test.ts
  src/test/service.test.ts
Due: eslint, prettier --write

chore(release): 0.12.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  8d1312fd7da3a40fb15032a70c8065acddc4e767
Due: none

fix: correct typo in renderResult function
  resources/media/main.js
Due: eslint, prettier --write

style: make results table rows have alternating colors
  resources/media/main.css
Due: prettier --write

chore(release): 0.12.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  47029259cfd41af98b67c80a71754bf4d8cac54f
Due: none

fix: improve table header sort icons contrast
  resources/media/main.css
Due: prettier --write

chore(release): 0.12.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0baa74cee2c83d32f30b45aa1006dfd0e7c0c413
Due: none

style: improve button colors for results pagination
  resources/media/main.css
Due: prettier --write

style: reorder command buttons in extension view title bar
  package.json
Due: prettier --write

chores: Whitelisted postgres built in functions
  syntaxes/lang/functions/abbreivated.json
  syntaxes/lang/functions/aggregate.json
  syntaxes/lang/functions/array.json
  syntaxes/lang/functions/binary-string-conversion.json
  syntaxes/lang/functions/binary-string.json
  syntaxes/lang/functions/comparison.json
  syntaxes/lang/functions/conditional.json
  syntaxes/lang/functions/datetime.json
  syntaxes/lang/functions/enum.json
  syntaxes/lang/functions/formatting.json
  syntaxes/lang/functions/geometric-conversion.json
  syntaxes/lang/functions/geometric.json
  syntaxes/lang/functions/groupping.json
  syntaxes/lang/functions/hyperbolic.json
  syntaxes/lang/functions/ip.json
  syntaxes/lang/functions/json-process.json
  syntaxes/lang/functions/json.json
  syntaxes/lang/functions/math.json
  syntaxes/lang/functions/ordered-set.json
  syntaxes/lang/functions/random.json
  syntaxes/lang/functions/range.json
  syntaxes/lang/functions/search-debug.json
  syntaxes/lang/functions/search.json
  syntaxes/lang/functions/series.json
  syntaxes/lang/functions/statistical.json
  syntaxes/lang/functions/string-other.json
  syntaxes/lang/functions/string.json
  syntaxes/lang/functions/trigonometric.json
  syntaxes/lang/functions/uuid.json
  syntaxes/lang/functions/window.json
  syntaxes/lang/functions/xml.json
  syntaxes/lang/schema/function.schema.json
Due: prettier --write

style: make 'new query' icon more noticeable
  package.json
  resources/dark-new-query.svg
  resources/light-new-query.svg
Due: prettier --write

fix: Autocomplete with SQL language support
  .gitignore
  package-lock.json
  package.json
  src/providers/language.ts
  syntaxes/lang/build.ts
  syntaxes/lang/grammer/gSQLLexer.g4
  syntaxes/lang/grammer/gSQLParser.g4
  tsconfig.json
Due: eslint, prettier --write
