Repository semiotic-ai/vscode-sql-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat: add uri handler for automatically saving api keys from website
  src/constants.ts
  src/extension.ts
  src/providers/results.ts
Due: eslint, prettier --write

chore(release): 0.13.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  2df9d9df546b9f642e2b33f3af6eb0e8b8aac726
Due: none

refactor: rename GRAPHSQL to Semiotic SQL
  README.md
  package.json
Due: prettier --write

chore(release): 0.13.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d3abde7dbf20ac2a3b54b3cd1c6b57f6ba16461f
Due: none

chores: Initial implementation of custom engine
  package-lock.json
  package.json
  src/autocomplete/CodeCompletionCore.ts
  src/autocomplete/CompletionRules.ts
  src/autocomplete/SQLAutocomplete.ts
  src/autocomplete/SQLSurveyor.ts
  src/autocomplete/index.ts
  src/autocomplete/models/AutocompleteOption.ts
  src/autocomplete/models/AutocompleteOptionType.ts
  src/autocomplete/models/OutputColumn.ts
  src/autocomplete/models/ParsedQuery.ts
  src/autocomplete/models/ReferencedColumn.ts
  src/autocomplete/models/SimpleSQLTokenizer.ts
  src/autocomplete/models/Token.ts
  src/autocomplete/parsing/BaseSqlQueryListener.ts
  src/autocomplete/parsing/CaseChangingStream.ts
  src/autocomplete/parsing/TrackingErrorStrategy.ts
  src/autocomplete/postgres/PostgresQueryListener.ts
  src/providers/language.ts
Due: eslint, prettier --write

fix: Use gateway for discovery of sql enabled deployments and SQL execution Use graph-network-arbitrum-sepolia for testnet subgraphs
  src/providers/results.ts
  src/service.ts
Due: eslint, prettier --write

test: Use testnet id and name for uniswap deployment
  src/test/service.test.ts
Due: eslint, prettier --write

chore(release): 0.13.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  4cb97a25eeef61264494217db7e8e41cbb50cf7c
Due: none

fix: Subgraphs initially shows sql enabled subgraphs (from gateway) Icons for sql enabled to identify which subgraphs can execute a query
  package.json
  resources/nosql_subgraph.svg
  resources/nosql_subgraph_sel.svg
  resources/sql_subgraph.svg
  resources/sql_subgraph_sel.svg
  src/constants.ts
  src/providers/results.ts
  src/providers/subgraph.ts
  src/service.ts
Due: eslint, prettier --write

chore(release): 0.13.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e5317493b4cf33f202b933ef900a458824ca5082
Due: none

fix: Custom working implementation of autocomplete to enable custom language definition
  src/autocomplete/SQLSurveyor.ts
  src/autocomplete/antlr4tsSQL.ts
  src/autocomplete/models/ParsedSql.ts
  src/autocomplete/models/SimpleSQLTokenizer.ts
  src/autocomplete/postgres/PostgresLexer.interp
  src/autocomplete/postgres/PostgresLexer.tokens
  src/autocomplete/postgres/PostgresLexer.ts
  src/autocomplete/postgres/PostgresParser.interp
  src/autocomplete/postgres/PostgresParser.tokens
  src/autocomplete/postgres/PostgresParser.ts
  src/autocomplete/postgres/PostgresParserListener.ts
  src/autocomplete/postgres/PostgresQueryListener.ts
  src/providers/autocomplete/postgres/PostgresLexer.interp
  src/providers/autocomplete/postgres/PostgresLexer.tokens
  src/providers/autocomplete/postgres/PostgresLexer.ts
  src/providers/autocomplete/postgres/PostgresParser.interp
  src/providers/autocomplete/postgres/PostgresParser.tokens
  src/providers/autocomplete/postgres/PostgresParser.ts
  src/providers/autocomplete/postgres/PostgresParserListener.ts
  src/providers/language.ts
  syntaxes/postgres/grammar/PostgresLexer.g4
  syntaxes/postgres/grammar/PostgresParser.g4
Due: eslint, prettier --write

refactor(autocomplete): Merged surveyor and autocomplete as they have common code
  src/autocomplete/Autocomplete.ts
  src/autocomplete/SQLAutocomplete.ts
  src/autocomplete/SQLSurveyor.ts
  src/autocomplete/SQLSurveyorOptions.ts
  src/autocomplete/index.ts
  src/autocomplete/models/AutocompleteOption.ts
  src/autocomplete/models/AutocompleteOptionType.ts
  src/providers/language.ts
Due: eslint, prettier --write

fix(autocomplete): Merged duplicate sql parsing code and initiation Abstracted SQL script for related language rules
  src/autocomplete/Autocomplete.ts
  src/autocomplete/antlr4tsSQL.ts
  src/autocomplete/lexing/TokenTypeIdentifier.ts
  src/autocomplete/models/ParsedQuery.ts
  src/autocomplete/models/SimpleSQLTokenizer.ts
  src/autocomplete/models/TokenLocation.ts
  src/autocomplete/parsing/BaseSqlQueryListener.ts
  src/autocomplete/parsing/BaseSqlScript.ts
  src/autocomplete/parsing/CodeCompletionCore.ts
  src/autocomplete/parsing/TrackingErrorStrategy.ts
  src/autocomplete/postgres/PostgresQueryListener.ts
  src/autocomplete/postgres/PostgresScript.ts
  syntaxes/postgres/functions/xml.json
  syntaxes/postgres/grammar/FunctionsLexer.g4
Due: eslint, prettier --write

fix(autocomplete): Pre cache table and column names Include aliased table columns
  src/autocomplete/Autocomplete.ts
Due: eslint, prettier --write

docs: update readme
  README.md
  resources/nosql_subgraph.png
  resources/nosql_subgraph_sel.png
  resources/sql_subgraph.png
  resources/sql_subgraph_sel.png
Due: none

ci: release patch update on docs tag
  common.release.config.js
Due: eslint, prettier --write

docs: reword explorer docs for clarity
  README.md
Due: none

chore(release): 0.13.4 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  977e6c8537a4ef631c448aa656680a665a8a3143
Due: none

Path conditions:
  eslint: (any of: *.ts) or (any of: *.js)
  prettier --write: (((any of: *.ts) or (any of: *.js)) or (any of: *.css)) or (any of: *.json)
